* {
	padding: 0;
	margin: 0;
}
#header {
	background-position: bottom left;
	background-repeat: repeat-x;
	border-width: .1em;
	border-style: solid;
	border-bottom-width: 0;
	border-top-width: 0;
	padding-left: 10%;
	/*max-width: 40em;*/
}
#header img {
	
}